@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Manage Company Account";
}
<h1>@ViewData["Title"]</h1>
<hr />

<body>
    <h4 class="text-center fw-bolder">Company Account Main Menu </h4>

    <div class="row mt-4">
        <div class="col text-center">
            <a asp-area="" asp-controller="CompanyAccount" asp-action="UpdateCompany" class="btn btn-primary fw-bold">Update Company</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <a asp-area="" asp-controller="ChangePassword" asp-action="ChangePassword" class="btn btn-primary fw-bold">Change Password</a>
        </div>
    </div>

    <!--<div class="row mt-4">
        <div class="col text-center">
            <a asp-area="" asp-controller="JobVacancy" asp-action="CreateJobVacancy" class="btn btn-primary fw-bold">Create Job Vacancy</a>
        </div>
    </div>-->

    <div class="row mt-4">
        <div class="col text-center">
            <a asp-area="" asp-controller="JobVacancy" asp-action="ListJobVacancies" class="btn btn-primary fw-bold">Manage Your Company's Job Vacancies'</a>
        </div>
    </div>

</body>

