@{
    ViewData["Title"] = "Jobseeker Account Main Menu";
}
<h1>@ViewData["Title"]</h1>
<hr />

<body>

    <h4 class="text-center fw-bolder"> Manage Jobseeker Account Menu</h4>

    <div class="row mt-4">
        <div class="col text-center">
            <a asp-area="" asp-controller="ChangePassword" asp-action="ChangePassword" class="btn btn-primary fw-bold">Change Password</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <a asp-area="" asp-controller="JobVacancy" asp-action="ListJobVacancies" class="btn btn-primary fw-bold">View Job Vacancies</a>
        </div>
    </div>

</body>

